# Miva Open University Credentials
MIVA_EMAIL=a.idris9871@miva.edu.ng
MIVA_PASSWORD=@Rizqah@999_

# Telegram Bot configuration
TELEGRAM_BOT_TOKEN=7748487911:AAEZIiyKmmqv7nQ7T28l-3pJEhx0iTaGJj8

# Ollama settings
OLLAMA_MODEL=llama3
OLLAMA_ENDPOINT=http://localhost:11434/api/generate

# Browser settings
HEADLESS=false
